@charset "UTF-8";

.main_guest, .main_user {
  margin-top: 30px;

  p {
    margin-bottom: 12px;
  }

  a {
    display: inline-block;
    margin-bottom: 24px;
    padding-bottom: 2px;
    border-bottom: 2px solid #00a495;

    .arrow_icon {
      margin-top: -4px;
    }
  }
}

.row {
  border-bottom: 1px solid #bbb;

  .main_column {
    &:nth-of-type(odd) .main_box {
      border-right: 1px solid #bbb;
    }
  
    .main_box {
      padding: 4px 12px 4px 4px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 20px;
    
      .title {
        margin-bottom: 12px;
  
        a {
          display: block;
  
          h1 {
            display: inline-block;
            padding-bottom: 2px;
            border-bottom: 2px solid #00a495;
            font-size: 18px;
            font-weight: 700;
          }
      
          span {
            float: right;
          }
        }
      }
  
      .content table {
        width: 100%;
  
        .article_title {
          font-size: 14px;
        }
  
        .updated_date {
          font-size: 12px;
        }
  
        .text-right {
          text-align: right;
        }
      }
    }
  }
}